<div class="center">
	<h2>New Message</h2>

	<%= form_for(@message) do |f| %>

	  <div><%= f.label :subject %><br />
	  <%= f.text_field :subject, autofocus: true %></div>

	  <div><%= f.label :body %><br />
      <%= f.text_field :body, autofocus: true %></div>

	  <div><%= f.submit "Send message" %></div>
	<% end %>

</div>