<div class="center-page">
	<h1><%= @user.profile_name %></h1>
	<div class="text-block">
		<div>
			<div id="profile-top"><%= image_tag @user.gravatar_url %></div>
			<% if current_user %>
				<button class="btn"><%= link_to "Edit profile", "/#{@user.profile_name}/edit" %></button>
			<% end %>
		</div>
		<div class="links">
			<ul>
			<% if !@user.facebook.empty? %>
				<li><%= link_to 'Facebook', "http://#{@user.facebook}" %></li>
			<% end %>
			
			<% if !@user.linkedin.empty? %>
				<li><%= link_to 'Linkedin', "http://#{@user.linkedin}" %></li>
			<% end %>
			
			<% if !@user.dribble.empty? %>
				<li><%= link_to 'Dribbble', "http://#{@user.dribble}" %></li>
			<% end %>
			
			<% if !@user.website.empty? %>
				<li><%= link_to 'Website', "http://#{@user.website}" %></li>
		    <% end %>

			<% if !@user.github.empty? %>
				<li><%= link_to 'Github', "http://#{@user.github}" %></li>
		    <% end %>
		</div>
		<div id="location">
			<%= @user.location %>
		</div>
    </div>
    <h2>General</h2>
    <div class="text-block">
    	<h3>About</h3>
    	<p><%= @user.about %></p></br>
    	<h3>I'm looking for...</h3>
    	<p><%= @user.long_request %></p>
	</div>
</div>
