
<nav>
	<ul>
	  <li><div id="logo">bARTr</div></li>
	  <li><%= link_to 'home', '/home' %></li>
	  <li><%= link_to 'users', '/all' %></li>
	  <% if user_signed_in? %>
		  <li><%= link_to current_user.profile_name, "#" %>
		  	<ul>
			  <li><%= link_to 'profile', "/#{current_user.profile_name}" %></li>
			  <li>
			  	<%= link_to('settings', edit_user_registration_path) %>
			  </li>
			  <li>
			  	<%= link_to('logout', destroy_user_session_path, :method => :delete) %>
			  </li>
			</ul>
		  </li>
		<% else %>
		  <li><%= link_to('login', new_user_session_path)  %>
		  	<ul>
		  		<li><%= link_to('sign up', new_user_registration_path) %>
		  		</li>
		    </ul>
		  </li>
		<% end %>
	</ul>
</nav>
